---
// src/components/BusView.astro
const { src } = Astro.props;
---

<div class="p-4 bg-white rounded-lg shadow-md mb-4 flex flex-col items-center">
  <h4 class="text-lg font-semibold mb-2 text-gray-800">Vista del autobús</h4>
  <img src={src} alt="Autobús" class="w-48 h-auto rounded-md shadow-sm" />
</div>
