---
import MainLayout from "../layouts/mainLayout.astro";
import RouteToggle from "../components/RouteToggle.jsx";
---

<MainLayout title="Inicio | MiRutaXalapa">
  <div class="mb-6 flex gap-2">
    <input
      type="text"
      placeholder="Buscar una ruta..."
      class="flex-1 border rounded-md p-2"
    />
    <button class="bg-blue-600 text-white px-4 py-2 rounded-md">Buscar</button>
  </div>

  <div id="adminButtons" class="gap-2 mb-4 hidden">
    <button class="bg-green-500 text-white px-4 py-2 rounded-md"
      >Agregar ruta</button
    >
    <button class="bg-red-500 text-white px-4 py-2 rounded-md"
      >Eliminar ruta</button
    >
    <button class="bg-yellow-500 text-white px-4 py-2 rounded-md"
      >Modificar ruta</button
    >
  </div>

  <RouteToggle client:load />
</MainLayout>

<script type="module">
  const adminDiv = document.getElementById("adminButtons");

  // Consultar al backend si hay sesión
  const checkSession = async () => {
    try {
      const res = await fetch("/api/session", {
        method: "GET",
        credentials: "include",
      });

      const data = await res.json();
      console.log("Usuario en sesión:", data);
      if (data.user && data.user.role === "admin") {
        adminDiv.classList.remove("hidden");
      }
    } catch (err) {
      console.error("No se pudo verificar la sesión", err);
    }
  };

  checkSession();
</script>
