---
import Map from "../components/Map.jsx";
---

<html lang="es">
  <head>
    <title>Mapa con Leaflet</title>
  </head>
  <body>
    <h1>Mapa interactivo con Leaflet</h1>
    <Map client:only="react" />
  </body>
</html>
